



// footer
@include media-md{
    .footer--container{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    .footer--support--header{
        font-size: 16px;
    }
}

@include media-lg{
    .footer--container{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    .footer--support{
        flex-direction: row;
        &--header{
            font-size:16px;
        }
    }
    .copyright{
        flex-direction: row;
        padding: 15px 0;
    }
}
@include media-xl{
    .footer--container{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    .copyright{
        padding: 24px 0;
    }

    .footer--support--header{
        font-size: 20px;
    }
}
