.custom-shape-divider-top-1624909696 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-top-1624909696 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}


.custom-shape-divider-bottom-1624932134 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624932134 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

 .shape-fill {
    fill: #FFFFFF;
}
.dark--curve{
    fill: #3A3B3C !important;
}
