@mixin flex-justify {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin media-sm{
    @media screen and (min-width:640px){ 
        @content;
    }
}
@mixin media-md{
    @media screen and (min-width:768px){ 
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width:1024px){ 
        @content;
    }
}
@mixin media-xl{
    @media screen and (min-width:1600px){ 
        @content;
    }
}
@mixin media-2lg {
    @media screen and (min-width:1280px){ 
        @content;
    }
}

