
// testimonial@
@include media-lg{

    .stack{
        position: absolute;
        top: 19vw;
        left: 18vw;
        &--container {
            left: 15vw;
            position: relative;
            width: 440px;
            height: 340px;
        }
      }
      .testimonial--container h1{
        width: 50%;
        font-size:3rem ;
    }
    .testimonial{
        display: flex;
    }
    .card{
        width: 500px;
        height: 250px;
        & img{
            width: 130px;
        }
    }
    .card span{
        font-size: 18px;
    }
}
@include media-2lg{
    .testimonial--container h1{
        width: 50%;
    }
}
@include media-xl{
    .testimonial{
        display: flex;
    }
    .testimonial--container h1{
        width: 33.3333%;
    }
    .card{
        width: 600px;
        height: 350px;
        & img{
            width: 130px;
        }
    }
    .card span{
        font-size: 18px;
    }
}



// footer
@include media-md{
    .footer--container{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    .footer--support--header{
        font-size: 16px;
    }
}

@include media-lg{
    .footer--container{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    .footer--support{
        flex-direction: row;
        &--header{
            font-size:16px;
        }
    }
    .copyright{
        flex-direction: row;
        padding: 15px 0;
    }
}
@include media-xl{
    .footer--container{
        grid-template-columns: repeat(5,minmax(0,1fr));
    }
    .copyright{
        padding: 24px 0;
    }

    .footer--support--header{
        font-size: 20px;
    }
}
